.success {
  border-left: 4px solid #48bb78;
}
.error {
  border-left: 4px solid #f56565;
}
.info {
  border-left: 4px solid #4299e1;
}
@keyframes slidein {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.animate-slidein {
  animation: slidein 0.3s;
}
