@if (visible()) {
<div
  class="fixed z-50 right-6 bottom-6 min-w-[200px] max-w-sm bg-white dark:bg-gray-800 text-gray-800 dark:text-white px-4 py-2 rounded shadow-lg border transition duration-300 animate-slidein"
  [ngClass]="type()"
  (click)="close()"
>
  <span class="mr-2">
    <mat-icon *ngIf="type() === 'success'">check_circle</mat-icon>
    <mat-icon *ngIf="type() === 'error'">error</mat-icon>
    <mat-icon *ngIf="type() === 'info'">info</mat-icon>
  </span>
  <div class="flex-1 font-medium">{{ message() }}</div>
  <mat-icon class="ml-2 cursor-pointer text-gray-500">close</mat-icon>
</div>
}
